.movie-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
  background-color: #1d1c1c;
}

.movie-card {
  border-radius: 8px;
  overflow: visible; /* ✅ Убираем обрезание */
  width: 100%;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(54, 52, 52);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
  padding: 10px;
  box-sizing: border-box;
}

.movie-card:hover {
  transform: scale(1.05);
}

.movie-card img {
  width: 100%;
  height: auto; /* ✅ Высота автоматическая */
  max-height: 300px; /* ✅ Ограничиваем высоту (по желанию) */
  object-fit: contain; /* ✅ Показывает всё изображение */
  border-radius: 4px;
  margin-bottom: 10px;
  background-color: #1a1a1a; /* Цвет фона при пустом пространстве */
}

.movie-card h3 {
  font-size: 16px;
  color: white;
  margin: 0;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.movie-card p {
  font-size: 14px;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  margin: 0;
}

/* Для неавторизованных пользователей */
.star[disabled], .watch-button[disabled] {
  cursor: not-allowed;
  opacity: 0.5;
}